<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <meta name="robots" content="noindex">
  <style>
    body {
      background-color: #fff;
      font-size: 10px;
    }
     img {
      width: 100%;
    }
    p {
      margin-bottom: 0;
    }
    h2 {
      font-size: 12px;
      font-weight: 600;
      border-bottom: 1px solid #000;
      text-transform: uppercase;
    }
    section {
      margin-bottom: 1em;
    }
    .leyenda {
      font-size: 8px;
    }
    .two-columns-text {
      column-count: 2;
      column-gap: v ;
    }
    thead tr {
      background-color: #0070c0;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
    }
    thead th {
      text-align: center;
    }
    .table>:not(caption)>*>* {
      padding: 0.1rem 0.1em;
    }
    td {
      width: 25px;
      text-align: center;
      vertical-align: middle;
    }
    .text-underline {
      text-decoration: underline;
    }
    svg {
      width: 100%;
      height: auto;
    }
    .image a {
      display: block;
      position: relative;
    }
    .image a::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' width='64px' height='64px' viewBox='-403.2 -403.2 2726.40 2726.40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M854.397 1594.874c-408.288 0-740.477-332.19-740.477-740.477 0-408.288 332.189-740.477 740.477-740.477 408.287 0 740.477 332.189 740.477 740.477 0 408.287-332.19 740.477-740.477 740.477ZM1920 1839.345l-423.325-423.211c131.577-150.488 212.118-346.543 212.118-561.737C1708.793 383.225 1325.568 0 854.397 0 383.225 0 0 383.225 0 854.397c0 471.17 383.225 854.396 854.397 854.396 215.08 0 411.363-80.54 561.737-212.118L1839.345 1920l80.655-80.655ZM911.356 455.678h-113.92v341.759H455.679v113.92h341.759v341.758h113.92V911.356h341.758v-113.92h-341.76V455.679Z' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      background-color: #fff;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row justify-content-between mb-3 leyenda">
      <div class="col-5"><img class="w-100" src="images/logo.png" alt=""></div>
    </div>
    
    <section>
      <h2>Datos del cliente</h2>
      <div class="row">
        <div class="col-4">
          <div class="row bg-light">
            <div class="col-5"><p><strong>Nombre:</strong></p></div>
            <div class="col-6"><p><%- data['nombre'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row bg-light">
            <div class="col-5"><p><strong>Teléfono:</strong></p></div>
            <div class="col-6"><p><%- data['telefono'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row bg-light">
            <div class="col-5"><p><strong>E-mail:</strong></p></div>
            <div class="col-6"><p><%- data['email'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5"><p><strong>Pobalción:</strong></p></div>
            <div class="col-6"><p><%- data['poblacion'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5"><p><strong>País:</strong></p></div>
            <div class="col-6"><p><%- data['pais'] %></p></div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>Datos del vehículo</h2>
      <div class="row">
        <div class="col-4 bg-light">
          <div class="row">
            <div class="col-5"><p><strong>Matrícula:</strong></p></div>
            <div class="col-6"><p><%- data['matricula'] %></p></div>
          </div>
        </div>
        <div class="col-4 bg-light">
          <div class="row">
            <div class="col-5"><p><strong>Marca:</strong></p></div>
            <div class="col-6"><p><%- data['marca'] %></p></div>
          </div>
        </div>
        <div class="col-4 bg-light">
          <div class="row">
            <div class="col-5"><p><strong>Modelo:</strong></p></div>
            <div class="col-6"><p><%- data['modelo'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5"><p><strong>Año Modelo:</strong></p></div>
            <div class="col-6"><p><%- data['anio-modelo'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5"><p><strong>Bastidor:</strong></p></div>
            <div class="col-6"><p><%- data['bastidor'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5"><p><strong>Color:</strong></p></div>
            <div class="col-6"><p><%- data['color'] %></p></div>
          </div>
        </div>
        <div class="col-4 bg-light">
          <div class="row">
            <div class="col-5"><p><strong>Mod. Tec.:</strong></p></div>
            <div class="col-6"><p><%- data['mod-tec'] %></p></div>
          </div>
        </div>
        <div class="col-4 bg-light">
          <div class="row">
            <div class="col-5"><p><strong>C. Motor:</strong></p></div>
            <div class="col-6"><p><%- data['c-motor'] %></p></div>
          </div>
        </div>
        <div class="col-4 bg-light">
          <div class="row">
            <div class="col-5"><p><strong>Fecha 1° Mat.:</strong></p></div>
            <div class="col-6"><p><%- data['fecha-1-mat'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5"><p><strong>Fecha Fin De Garantía:</strong></p></div>
            <div class="col-6"><p><%- data['fecha-fin-garantia'] %></p></div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="col-5"><p><strong>Inspección Técnica:</strong></p></div>
            <div class="col-6"><p><%- data['inspeccion-tecnica'] %></p></div>
          </div>
        </div>
      </div>
    </section>
    

    <section>
      <h2>Actuaciones</h2>
      <p class="two-columns-text"><%- data['actuaciones'] %></p>
    </section>

    <section>
      <h2>RESULTADO DE LA PRUEBA DINÁMICA</h2>
      <div class="row">
        <div class="col-12">
          <p><strong>Comportamiento Del Cambio:</strong> <%- data['comportamiento-del-cambio'] %></p>
        </div>
        <div class="col-12"><p><strong>Estado Del Embrague: </strong> <%- data['estado-del-embrague'] %></p></div>
      </div>
    </section>

    <section>
      <h2>Imágenes</h2>
      <div class="row">
        <% Object.keys(data['files']).forEach(function(key){ %>
          <div class="col-3 image mb-3">
            <a href="/archivos/<%- data['files'][key]["filename"] %>" target="_blank">
              <img src="/archivos/<%- data['files'][key]["filename"] %>" alt="" class="w-100">
            </a>
          </div>
        <% }); %>
      </div>
    </section>

    <section>
      <h2></h2>
      <div class="row">

        <div class="col-12">
          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">INTERIOR</th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Interior</th>
                <td><% if (data['interior'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['interior'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['interior'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Hora Y Fecha</th>
                <td><% if (data['hora-y-fecha'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['hora-y-fecha'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['hora-y-fecha'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luces Interior</th>
                <td><% if (data['luces-interior'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luces-interior'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luces-interior'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Testigos Avería</th>
                <td><% if (data['testigos-averia'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['testigos-averia'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['testigos-averia'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Climatización</th>
                <td><% if (data['climatizacion'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['climatizacion'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['climatizacion'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Elevalunas D/D</th>
                <td><% if (data['estado-elevalunas-d-d'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-elevalunas-d-d'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-elevalunas-d-d'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Elevalunas D/Izq</th>
                <td><% if (data['estado-elevalunas-d-izq'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-elevalunas-d-izq'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-elevalunas-d-izq'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Elevalunas T/D</th>
                <td><% if (data['estado-elevalunas-t-d'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-elevalunas-t-d'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-elevalunas-t-d'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Elevalunas Trasero Izquierdo</th>
                <td><% if (data['estado-elevalunas-trasero-izquierdo'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-elevalunas-trasero-izquierdo'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-elevalunas-trasero-izquierdo'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Radio</th>
                <td><% if (data['radio'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['radio'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['radio'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Cerraduras</th>
                <td><% if (data['estado-cerraduras'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-cerraduras'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-cerraduras'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Cinturones Seguridad</th>
                <td><% if (data['estado-cinturones-seguridad'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-cinturones-seguridad'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-cinturones-seguridad'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Guarnecidos</th>
                <td><% if (data['guarnecidos'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['guarnecidos'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['guarnecidos'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Parasol Y Retrovisor Interior</th>
                <td><% if (data['parasol-y-retrovisor-interior'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['parasol-y-retrovisor-interior'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['parasol-y-retrovisor-interior'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Botoneras</th>
                <td><% if (data['botoneras'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['botoneras'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['botoneras'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Cenicero Central</th>
                <td><% if (data['cenicero-central'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['cenicero-central'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['cenicero-central'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Encendedor</th>
                <td><% if (data['encendedor'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['encendedor'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['encendedor'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Velocímetro</th>
                <td><% if (data['velocimetro'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['velocimetro'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['velocimetro'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Cuentarrevoluciones</th>
                <td><% if (data['cuentarrevoluciones'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['cuentarrevoluciones'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['cuentarrevoluciones'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Cierre Centralizado</th>
                <td><% if (data['cierre-centralizado'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['cierre-centralizado'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['cierre-centralizado'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Asientos Y Tapizados</th>
                <td><% if (data['asientos-y-tapizados'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['asientos-y-tapizados'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['asientos-y-tapizados'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Retrovisor Interior</th>
                <td><% if (data['retrovisor-interior'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['retrovisor-interior'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['retrovisor-interior'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Claxon</th>
                <td><% if (data['claxon'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['claxon'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['claxon'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Calefacción</th>
                <td><% if (data['calefaccion'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['calefaccion'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['calefaccion'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Aire Acondicionado</th>
                <td><% if (data['aire-acondicionado:'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['aire-acondicionado:'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['aire-acondicionado:'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Gps</th>
                <td><% if (data['gps'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['gps'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['gps'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['interior-valoracion'] %></td>
              </tr>
              
            </tbody>
          </table>
        
          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">CIRCUITO REFRIGERACION
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Temperatura Del Motor</th>
                <td><% if (data['temperatura-del-motor'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['temperatura-del-motor'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['temperatura-del-motor'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Nivel Y Estado Refrigerante</th>
                <td><% if (data['nivel-y-estado-refrigerante'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-y-estado-refrigerante'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-y-estado-refrigerante'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado De Radiadores</th>
                <td><% if (data['estado-de-radiadores'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-de-radiadores'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-de-radiadores'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Electroventiladores</th>
                <td><% if (data['estado-electroventiladores'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-electroventiladores'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-electroventiladores'] == 'ND') { %>&#9679;<% } %></td>
              </tr>

              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['circuito-refrigeracion-valoracion'] %></td>
              </tr>
              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">FRENOS
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Discos Delanteros</th>
                <td><% if (data['discos-delanteros'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['discos-delanteros'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['discos-delanteros'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Discos Traseros</th>
                <td><% if (data['discos-traseros'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['discos-traseros'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['discos-traseros'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Pastillas Delanteras</th>
                <td><% if (data['pastillas-delanteras'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['pastillas-delanteras'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['pastillas-delanteras'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Pastillas Traseras</th>
                <td><% if (data['pastillas-traseras'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['pastillas-traseras'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['pastillas-traseras'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Nivel Liquido De Freno</th>
                <td><% if (data['nivel-liquido-de-freno'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-liquido-de-freno'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-liquido-de-freno'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Perdidas De Liquido De Freno</th>
                <td><% if (data['perdidas-de-liquido-de-freno'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-de-liquido-de-freno'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-de-liquido-de-freno'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Freno De Mano</th>
                <td><% if (data['estado-freno-de-mano'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-freno-de-mano'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-freno-de-mano'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['frenos-valoracion'] %></td>
              </tr>
          
              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">NEUMÁTICOS
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Estado Llanta Delantera Derecha</th>
                <td><% if (data['estado-llanta-delantera-derecha'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-llanta-delantera-derecha'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-llanta-delantera-derecha'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Llanta Delantera Izquierda</th>
                <td><% if (data['estado-llanta-delantera-izquierda'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-llanta-delantera-izquierda'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-llanta-delantera-izquierda'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Llanta Trasera Derecha</th>
                <td><% if (data['estado-llanta-trasera-derecha'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-llanta-trasera-derecha'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-llanta-trasera-derecha'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Llanta Trasera Izquierda</th>
                <td><% if (data['estado-llanta-trasera-izquierda'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-llanta-trasera-izquierda'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-llanta-trasera-izquierda'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Comprobación Presiones Neumáticos</th>
                <td><% if (data['comprobacion-presiones-neumaticos'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['comprobacion-presiones-neumaticos'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['comprobacion-presiones-neumaticos'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Neumáticos Pinchados</th>
                <td><% if (data['neumaticos-pinchados:'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['neumaticos-pinchados:'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['neumaticos-pinchados:'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Neumaticos Traseros</th>
                <td><% if (data['estado-neumaticos-traseros'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-neumaticos-traseros'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-neumaticos-traseros'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Neumaticos Delanteros</th>
                <td><% if (data['estado-neumaticos-delanteros'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-neumaticos-delanteros'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-neumaticos-delanteros'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['neumaticos-valoracion'] %></td>
              </tr>
          
              
            </tbody>
          </table>

        </div>
        
        <div class="col-12">
          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">DIAGNOSIS</th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Diagnosis General</th>
                <td><% if (data['diagnosis-general'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['diagnosis-general'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['diagnosis-general'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">ZONA EXTERIOR DELANTERA                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Daños Carrocería</th>
                <td><% if (data['danios-carroceria'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['danios-carroceria'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['danios-carroceria'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Posición</th>
                <td><% if (data['luz-posicion-delantera'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-posicion-delantera'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-posicion-delantera'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Corta</th>
                <td><% if (data['luz-corta'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-corta'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-corta'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Larga</th>
                <td><% if (data['luz-larga'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-larga'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-larga'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Intermitentes</th>
                <td><% if (data['luz-intermitentes-delantera'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-intermitentes-delantera'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-intermitentes-delantera'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Nieblas</th>
                <td><% if (data['luz-nieblas'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-nieblas'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-nieblas'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Sistema Lavado Faros</th>
                <td><% if (data['sistema-lavado-faros'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-lavado-faros'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-lavado-faros'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Limpiaparabrisas Delanteros</th>
                <td><% if (data['limpiaparabrisas-delanteros'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['limpiaparabrisas-delanteros'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['limpiaparabrisas-delanteros'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['exterior-delantera-valoracion'] %></td>
              </tr>

              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">ZONA EXTERIOR TRASERA
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Daños Exterior Trasero</th>
                <td><% if (data['danios-exterior-trasero'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['danios-exterior-trasero'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['danios-exterior-trasero'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Freno</th>
                <td><% if (data['luz-freno'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-freno'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-freno'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Intermitentes</th>
                <td><% if (data['luz-intermitentes-trasera'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-intermitentes-trasera'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-intermitentes-trasera'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Posicion</th>
                <td><% if (data['luz-posicion-trasera'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-posicion-trasera'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-posicion-trasera'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Marcha Atrás</th>
                <td><% if (data['luz-marcha-atras'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-marcha-atras'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-marcha-atras'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luz Niebla Trasero</th>
                <td><% if (data['luz-niebla-trasero'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luz-niebla-trasero'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luz-niebla-trasero'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Limpias Parabrisas Trasero</th>
                <td><% if (data['limpias-parabrisas-trasero'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['limpias-parabrisas-trasero'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['limpias-parabrisas-trasero'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['exterior-trasera-valoracion'] %></td>
              </tr>

              
            </tbody>
          </table>
       
          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">SISTEMA EMBRAGUE
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Funcionamiento Embrague Sistema Hidráulico</th>
<td><% if (data['funcionamiento-embrague-sistema-hidraulico'] == 'X') { %>&#9679;<% } %></td>
<td><% if (data['funcionamiento-embrague-sistema-hidraulico'] == 'OK') { %>&#9679;<% } %></td>
<td><% if (data['funcionamiento-embrague-sistema-hidraulico'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['sistema-embrague-valoracion'] %></td>
              </tr>

              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">AMORTIGUADORES
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Estado Amortiguador D/Derecho</th>
                <td><% if (data['estado-amortiguador-d-derecho'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-amortiguador-d-derecho'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-amortiguador-d-derecho'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Amortiguador D/Izq</th>
                <td><% if (data['estado-amortiguador-d-izq'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-amortiguador-d-izq'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-amortiguador-d-izq'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Amortiguador Tra/Derecho</th>
                <td><% if (data['estado-amortiguador-tra-derecho'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-amortiguador-tra-derecho'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-amortiguador-tra-derecho'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Amortiguador Tra/Izq</th>
                <td><% if (data['estado-amortiguador-tra-izq'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-amortiguador-tra-izq'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-amortiguador-tra-izq'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['amortiguadores-valoracion'] %></td>
              </tr>
          
              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">DIRECCIÓN
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Funcionamiento Dirección</th>
                <td><% if (data['funcionamiento-direccion'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['funcionamiento-direccion'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['funcionamiento-direccion'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Pérdidas De Aceite</th>
                <td><% if (data['perdidas-de-aceite-direccion'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-de-aceite-direccion'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-de-aceite-direccion'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Vibraciones En La Dirección</th>
                <td><% if (data['vibraciones-en-la-direccion'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['vibraciones-en-la-direccion'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['vibraciones-en-la-direccion'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['direccion-valoracion'] %></td>
              </tr>
          
              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">ESTADO LUNAS/VIDRIOS
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Luna Delantera</th>
                <td><% if (data['luna-delantera'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luna-delantera'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luna-delantera'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Luna Trasera</th>
                <td><% if (data['luna-trasera'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['luna-trasera'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['luna-trasera'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Vidrio Delantero Derecho</th>
                <td><% if (data['vidrio-delantero-derecho'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-delantero-derecho'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-delantero-derecho'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Vidrio Delantero Izq</th>
                <td><% if (data['vidrio-delantero-izq'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-delantero-izq'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-delantero-izq'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Vidrio Trasero Derecho</th>
                <td><% if (data['vidrio-trasero-derecho'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-trasero-derecho'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-trasero-derecho'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Vidrio Trasero Izq</th>
                <td><% if (data['vidrio-trasero-izq'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-trasero-izq'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-trasero-izq'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Vidrio Custodia Delantera Derecha</th>
                <td><% if (data['vidrio-custodia-delantera-derecha'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-custodia-delantera-derecha'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-custodia-delantera-derecha'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Vidrio Custodia Delantero Izq</th>
                <td><% if (data['vidrio-custodia-delantero-izq'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-custodia-delantero-izq'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['vidrio-custodia-delantero-izq'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['luna-vidrios-valoracion'] %></td>
              </tr>
          
              
            </tbody>
          </table>
          
        </div>

        <div class="col-12">
          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">LATERAL DERECHO
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Estado Carroceria</th>
                <td><% if (data['estado-carroceria-derecho'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-carroceria-derecho'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-carroceria-derecho'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">
                  Retrovisor Derecho</th>
                  <td><% if (data['retrovisor-derecho'] == 'X') { %>&#9679;<% } %></td>
                  <td><% if (data['retrovisor-derecho'] == 'OK') { %>&#9679;<% } %></td>
                  <td><% if (data['retrovisor-derecho'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Intermitentes Derechos</th>
                <td><% if (data['intermitentes-derechos'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['intermitentes-derechos'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['intermitentes-derechos'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['lateral-derecho-valoracion'] %></td>
              </tr>

              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">LATERAL IZQUIERDO 
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Estado Carroceria</th>
                <td><% if (data['estado-carroceria-izquierdo'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-carroceria-izquierdo'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-carroceria-izquierdo'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">
                  Retrovisor Izquierdo</th>
                  <td><% if (data['retrovisor-izq'] == 'X') { %>&#9679;<% } %></td>
                  <td><% if (data['retrovisor-izq'] == 'OK') { %>&#9679;<% } %></td>
                  <td><% if (data['retrovisor-izq'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Intermitentes Izquierdos</th>
                <td><% if (data['intermitente-izq'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['intermitente-izq'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['intermitente-izq'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['lateral-izquierdo-valoracion'] %></td>
              </tr>

              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">VANO MOTOR

                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Estado Visual</th>
                <td><% if (data['estado-visual'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-visual'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-visual'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Nivel Liquido Limpiaparabrisas</th>
                <td><% if (data['nivel-liquido-limpiaparabrisas'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-liquido-limpiaparabrisas'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-liquido-limpiaparabrisas'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Plásticos/Protectores</th>
                <td><% if (data['estado-plasticos-protectores'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-plasticos-protectores'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-plasticos-protectores'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Nivel Liquido Anticongelante</th>
                <td><% if (data['nivel-liquido-anticongelante'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-liquido-anticongelante'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-liquido-anticongelante'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Estado Soportes De Motor</th>
                <td><% if (data['estado-soportes-de-motor'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['estado-soportes-de-motor'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['estado-soportes-de-motor'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                                <td colspan="3"><%- data['vano-motor-valoracionfuncionamiento-sistema-manual'] %></td>
              </tr>

              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">MOTOR
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Nivel Aceite</th>
                <td><% if (data['nivel-aceite'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-aceite'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['nivel-aceite'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Sistemas Eléctricos</th>
                <td><% if (data['sistemas-electricos'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['sistemas-electricos'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['sistemas-electricos'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Sistema Correa Auxiliar</th>
                <td><% if (data['sistema-correa-auxiliar'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-correa-auxiliar'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-correa-auxiliar'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Sistema De Distribución</th>
                <td><% if (data['sistema-de-distribucion'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-de-distribucion'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-de-distribucion'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Sistema Escape</th>
                <td><% if (data['sistema-escape'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-escape'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-escape'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Pérdidas De Aceite</th>
                <td><% if (data['perdidas-de-aceite-motor'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-de-aceite-motor'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-de-aceite-motor'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Pérdidas Refrigerante</th>
                <td><% if (data['perdidas-refrigerante'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-refrigerante'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-refrigerante'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Pérdidas Combustible</th>
                <td><% if (data['perdidas-combustible'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-combustible'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-combustible'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Pérdidas Adblue</th>
                <td><% if (data['perdidas-adblue'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-adblue'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['perdidas-adblue'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Ralentí Correcto</th>
                <td><% if (data['ralenti-correcto'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['ralenti-correcto'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['ralenti-correcto'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Ruidos De Motor</th>
                <td><% if (data['ruidos-de-motor'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['ruidos-de-motor'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['ruidos-de-motor'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Vibraciones</th>
                <td><% if (data['vibraciones'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['vibraciones'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['vibraciones'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Humos</th>
                <td><% if (data['humos'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['humos'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['humos'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['motor-valoracio'] %></td>
              </tr>

              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">SISTEMA CAMBIO DE MARCHAS
                </th>
                <th scope="col">X</th>
                <th scope="col">OK</th>
                <th scope="col">ND</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Funcionamiento Sistema Manual</th>
                <td><% if (data['funcionamiento-sistema-manual'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['funcionamiento-sistema-manual'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['funcionamiento-sistema-manual'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Funcionamiento Sistema Automático</th>
                <td><% if (data['funcionamiento-sistema-automatico'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['funcionamiento-sistema-automatico'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['funcionamiento-sistema-automatico'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">Sistema Palanquearía</th>
                <td><% if (data['sistema-palanquearia'] == 'X') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-palanquearia'] == 'OK') { %>&#9679;<% } %></td>
                <td><% if (data['sistema-palanquearia'] == 'ND') { %>&#9679;<% } %></td>
              </tr>
              
              <tr>
                <th scope="row">Valoración General</th>
                <td colspan="3"><%- data['cambio-marchas-valoracion'] %></td>
              </tr>
          
              
            </tbody>
          </table>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">DOCUMENTACIÓN
                </th>
                <th scope="col">SI</th>
                <th scope="col">NO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">El V.H Necesita Pasar ITV?</th>
                <td><% if (data['pasar-itv'] == 'Si') { %>&#9679;<% } %></td>
                <td><% if (data['pasar-itv'] == 'No') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">El V.H Tiene La Documentación Original Necesaria Para La ITV?</th>
                <td><% if (data['documentacion-original-itv'] == 'Si') { %>&#9679;<% } %></td>
                <td><% if (data['documentacion-original-itv'] == 'No') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">El V.H Tiene Los Libros De Mantenimiento E Instrucciones?</th>
                <td><% if (data['libro-de-mantenimiento-instrucciones'] == 'Si') { %>&#9679;<% } %></td>
                <td><% if (data['libro-de-mantenimiento-instrucciones'] == 'No') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">El V.H Tiene Permiso De Circulación?</th>
                <td><% if (data['permiso-de-circulacion'] == 'Si') { %>&#9679;<% } %></td>
                <td><% if (data['permiso-de-circulacion'] == 'No') { %>&#9679;<% } %></td>
              </tr>
              <tr>
                <th scope="row">El V.H Tiene Ficha Técnica?</th>
                <td><% if (data['ficha-tecnica'] == 'Si') { %>&#9679;<% } %></td>
                <td><% if (data['ficha-tecnica'] == 'No') { %>&#9679;<% } %></td>
              </tr>
              
          
              
            </tbody>
          </table>

        </div>

      </div>
    </section>
    
    <section>
      <h2>Valoración personal del perito</h2>
      <p><%- data['valoracion-perito'] %></p>
    </section>



    <section>
      <h2></h2>
      <em>El propietario del vehículo confirma que el vehículo de su propiedad consta de seguro obligatorio en vigor en la fecha de la realización de la prueba y por lo tanto dicho seguro responderá de los daños que pudiera ocasionar al vehículo cedido, a otros vehículos, bienes y/o personas con motivo de la utilización del vehículo por el perito a modo de prueba haciendo un uso normal del vehículo, respetando las normas de circulación y velocidad.</em>
      <br><br>
      <p style="font-size: 12px;">En <span class="text-underline"><%- data['lugar-perito'] %></span> el <span class="text-underline"><%- data['fecha-perito'] %></span></p>
    </section>
    <section>
      <div class="row justify-content-end">
        <div class="col-12">
          <%- data['firma'] %>
          <br>
          <br>
          <p>Nombre: <span class="text-underline"><%- data['nombre-perito'] %></span></p>
        </div>
      </div>
    </section>
  </div>
</body>
</html>